@model ContosoUniverstity.Models.InstructorIndexData
@{
    ViewData["Title"] = "Instructors";
}
<h2>Instructors</h2>
<p>
    <a class="btn btn-primary mb-3" asp-action="Create">Create New Instructor</a>
</p>

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Hire Date</th>
            <th>Office Location</th>
            <th>Courses</th>
            <th>Birthday</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Instructors)
        {
            string selectedRow = "";
            if (item.Id == (int?)ViewData["InstructorID"])
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>

                <td>@Html.DisplayFor(modelItem => item.FirstMidName)</td>

                <td>@Html.DisplayFor(modelItem => item.HireDate)</td>

                <td>@Html.DisplayFor(modelItem => item.OfficeAssignment.Location)</td>
                <td>
                    @foreach (var courses in item.CourseAssignments)
                    {
                        @courses.Course.Title <br />
                    }
                </td>

                <td>@Html.DisplayFor(modelItem => item.Birthday)</td>

                <td>
                    <a class="btn btn-primary btn-sm m-1" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-info btn-sm m-1" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger btn-sm m-1" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <a class="btn btn-secondary btn-sm m-1" asp-action="Clone" asp-route-id="@item.Id">Clone</a>
                </td>
            </tr>
        }
    </tbody>
</table>